@model BO.ViewModels.UnitViewModel

@{
    ViewData["Title"] = "Create Unit";
}

<h1>Create Unit</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCountryId"></label>
        <select asp-for="SelectedCountryId" asp-items="Model.Countries" class="form-control" id="CountrySelect">
            <option value="">-- Select a country --</option>
        </select>
        <span asp-validation-for="SelectedCountryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCityId"></label>
        <select asp-for="SelectedCityId" asp-items="Model.Cities" class="form-control" id="CitySelect">
            <option value="">-- Select a city --</option>
        </select>
        <span asp-validation-for="SelectedCityId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DistrictId"></label>
        <select asp-for="DistrictId" asp-items="Model.Districts" class="form-control" id="DistrictSelect">
            <option value="">-- Select a district --</option>
        </select>
        <span asp-validation-for="DistrictId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="FloorId" class="control-label"></label>
        <select asp-for="FloorId" asp-items="Model.Floors" class="form-control">
            <option value="">-- Select Floor --</option>
        </select>
        <span asp-validation-for="FloorId" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="UnitTypeId" class="control-label"></label>
        <select asp-for="UnitTypeId" asp-items="Model.UnitTypes" class="form-control">
            <option value="">-- Select Unit Type --</option>
        </select>
        <span asp-validation-for="UnitTypeId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#CountrySelect').on('change', function () {
            var countryId = $(this).val();
            $('#CitySelect').empty().append('<option value="">-- Loading cities --</option>');

            if (countryId) {
                $.getJSON('@Url.Action("GetCitiesByCountry", "Unit")', { countryId: countryId }, function (data) {
                    $('#CitySelect').empty().append('<option value="">-- Select a city --</option>');
                    $.each(data, function (index, item) {
                        $('#CitySelect').append('<option value="' + item.value + '">' + item.text + '</option>');
                    });
                });
            } else {
                $('#CitySelect').empty().append('<option value="">-- Select a city --</option>');
            }
        });

         $('#CitySelect').on('change', function () {
            var cityId = $(this).val();
            $('#DistrictSelect').empty().append('<option value="">-- Loading districts --</option>');

            if (cityId) {
                $.getJSON('@Url.Action("GetDistrictsByCity", "Unit")', { cityId: cityId }, function (data) {
                    $('#DistrictSelect').empty().append('<option value="">-- Select a district --</option>');
                    $.each(data, function (index, item) {
                        $('#DistrictSelect').append('<option value="' + item.value + '">' + item.text + '</option>');
                    });
                });
            } else {
                $('#DistrictSelect').empty().append('<option value="">-- Select a district --</option>');
            }
        });
    </script>
}
