@model BO.ViewModels.UnitViewModel

@{
    ViewData["Title"] = "Edit Unit";
}

<h1>Edit Unit</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FloorId"></label>
        <select asp-for="FloorId" asp-items="Model.Floors" class="form-control" id="FloorSelect">
            <option value="">-- Select a floor --</option>
        </select>
        <span asp-validation-for="FloorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UnitTypeId"></label>
        <select asp-for="UnitTypeId" asp-items="Model.UnitTypes" class="form-control" id="UnitTypeSelect">
            <option value="">-- Select a unit type --</option>
        </select>
        <span asp-validation-for="UnitTypeId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCountryId"></label>
        <select asp-for="SelectedCountryId" asp-items="Model.Countries" class="form-control" id="CountrySelect">
            <option value="">-- Select a country --</option>
        </select>
        <span asp-validation-for="SelectedCountryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCityId"></label>
        <select asp-for="SelectedCityId" asp-items="Model.Cities" class="form-control" id="CitySelect">
            <option value="">-- Select a city --</option>
        </select>
        <span asp-validation-for="SelectedCityId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DistrictId"></label>
        <select asp-for="DistrictId" asp-items="Model.Districts" class="form-control" id="DistrictSelect">
            <option value="">-- Select a district --</option>
        </select>
        <span asp-validation-for="DistrictId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cost"></label>
        <input name="Cost" class="form-control" value="@Model.Cost.ToString("N2", new System.Globalization.CultureInfo("bg-BG"))" /> 
        <span asp-validation-for="Cost" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RentPrice"></label>
        <input name="RentPrice" class="form-control" value="@Model.RentPrice.ToString("N2", new System.Globalization.CultureInfo("bg-BG"))" />
        <span asp-validation-for="RentPrice" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#CountrySelect').on('change', function () {
            var countryId = $(this).val();
            $('#CitySelect').empty().append('<option value="">-- Loading cities --</option>');
  

            if (countryId) {
                $.getJSON('@Url.Action("GetCitiesByCountry", "District")', { countryId: countryId }, function (data) {
                    $('#CitySelect').empty().append('<option value="">-- Select a city --</option>');
                    $('#DistrictSelect').empty().append('<option value="">-- Select a district --</option>');
                    $.each(data, function (index, item) {
                        $('#CitySelect').append('<option value="' + item.value + '">' + item.text + '</option>');
                    });
                });
            } else {
                $('#CitySelect').empty().append('<option value="">-- Select a city --</option>');
            }
        });

         $('#CitySelect').on('change', function () {
            var cityId = $(this).val();
            $('#DistrictSelect').empty().append('<option value="">-- Loading districts --</option>');

            if (cityId) {
                $.getJSON('@Url.Action("GetDistrictsByCity", "Unit")', { cityId: cityId }, function (data) {
                    $('#DistrictSelect').empty().append('<option value="">-- Select a district --</option>');
                    $.each(data, function (index, item) {
                        $('#DistrictSelect').append('<option value="' + item.value + '">' + item.text + '</option>');
                    });
                });
            } else {
                $('#DistrictSelect').empty().append('<option value="">-- Select a district --</option>');
            }
        });
    </script>
}
